
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*nav style*/
nav{display: flex; 
align-items: center;
justify-content: space-between; margin: 10px 20px;}
.nav-titel{font-weight:800;
font-size: 45px;}
nav ul li{list-style: none; margin-right: 50px;}
nav li a{text-decoration: none; font-size: 20px;}
.dark-2{color:#474747;}
nav ul{display: flex;}
/*shared style*/
.btn-primary{color:white;background-color: orangered; border-radius: 5px; border: none;padding: 10px;}
